.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: url(../../imgs/космооо.jpg);
  background-size: 100% 100%;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
  background-color: white;
  border-radius: 5px;
}

button {
  cursor: pointer;
  font-size: 15px;
  background: hwb(162 96% 0%);
  border: 1px solid #01d28e;
  border-radius: 20px;
  color: black;
  padding: 10px 20px;
  margin-right: 5px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background: url(../../imgs/46.png);
  background-size: 100% 100%;
  color: white;
  padding: 10rem;
  text-align: center;
  text-shadow: 1px 1px 1px black, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 10pt;
}

.list-container {
  display: flex;
}

.error {
  border: 2px solid red !important;
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: translate(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translate(4px);
  }
}

.title {
  font-size: 30pt;
  margin-bottom: 20px;
  font-family: Arial;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
